* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
--very-dark-grayish-blue: hsl(217, 19%, 35%);
--desaturated-dark-blue:hsl(217, 19%, 35%);
--grayish-blue: hsl(212, 23%, 69%);
--light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-family:'Manrope', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-blue);
}

/*style the card*/
.card {
  max-width: 700px;
  height: 250px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 8px 30px 0 var(--grayish-blue);
}

/*style the image inside of the card*/
.card .img-card {
  max-width: 280px;
  border-radius: 10px 0 0 10px;
}


/*utileize classes*/
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  color: var(--desaturated-dark-blue);
  font-size: 13px;
  font-weight: 500;
}

h1, h2, h3, h4, h5 h6 {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}

/*style the main content*/
.card .main-content {
  padding: 35px;
}

.card .main-content .paragraph {
  margin: 15px 0;
}

.card .main-content .info {
  justify-content: space-between;
}

/*style the avater*/
.card .main-content .info .avatar {
  max-width: 35px;
  border-radius: 50%;
  margin-right: 20px;
}

/**style the icon-share**/
.card .main-content .info .bg-icon {
  background-color: var(--light-grayish-blue);
  padding: 5px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
}

.card .main-content .info .bg-icon .icon-share {
  width: 15px;
}

/**change the background color of the share icon on hover*/
.card .main-content .info .bg-icon:hover {
  background-color: var(--desaturated-dark-blue);
}

.card .main-content .info .bg-icon:hover .icon-share {
  filter: brightness(0) invert(1);
}

/**style the pop-up**/
.card .main-content .info .pop-up {
  position: absolute;
  background-color: var(--very-dark-grayish-blue);
  padding: 15px 20px;
  border-radius: 10px;
  top: 49%;
  right: 22%;
}

.card .main-content .info .pop-up * {
  margin: 0 9px;
}

.card .main-content .info .pop-up p {
  color: var(--grayish-blue);
  letter-spacing: 5px;
}

/*style the triangle**/
.card .main-content .info .triangle {
  position: absolute;
  top: 56.7%;
  right: 29.5%;
  transform: translateY(-50%);
  border-top: 2vh solid var(--very-dark-grayish-blue);
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
}

/**Hide the pop-up**/
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
}

.bg-icon {
  background: var(--grayish-blue) !important;
}


/***Responsive***/
@media (max-width: 430px) {
   .flex-container {
    flex-direction: column;
   }
   .card {
    max-width: 320px;
    height: 550px;
   }
   .main-content {
    padding: 25px 25px 0 25px !important;
    background-color: #fff;
   }
   h3 {
    font-size: 17px;
   }
   .paragraph {
    max-width: 95%;
   }
   .img-card {
    min-width: 100%;
    height: 300px;
    vertical-align: middle;
    border-radius: 10px 10px 0 0 !important;
   }
  .info,
  .info div:first-of-type {
    flex-direction: row;
  }
  .pop-up {
    flex-direction: row;
    padding: 20px 160px 20px 20px !important;
    top: -15% !important;
    right: -9% !important;
    border-radius: 0 0 10px 10px !important;
  }
  .bg-icon,
  .info {
    position: relative;
  }
  .info > .flex-container:first-child {
    margin-bottom: 10px;
  }
   .card {
    flex-direction: column;       /* stack image and content vertically */
    overflow: hidden;             /* ensures child elements follow the curve */
  }
}


@media (max-width: 1280px) {
  /**style the pop-up**/
.card .main-content .info .pop-up {
  position: absolute;
  background-color: var(--very-dark-grayish-blue);
  padding: 15px 20px;
  border-radius: 10px;
  top: 50%;
  right: 17%;
}
.card .main-content .info .triangle {
  position: absolute;
  top: 56.7%;
  right: 26%;
}
}

