
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setup */

/* click event status */
.container.active .share-btn-1{
  background-color: var(--Desaturated-Dark-Blue);
  fill: white;
}

.container.active .share{
  display: flex;
}
.container.active .avatar{display: none;}

img{
   width:100%
}

body{background-color:var(--Light-Grayish-Blue);
display: flex;
justify-content: center; align-items: center;
padding-block: 4rem;
font-family: 'Manrope', sans-serif;
}


/* colors */
:root{
--dark-grayish-blue: rgb(72, 85, 106);
--Desaturated-Dark-Blue: rgb(109, 127, 151);
--Grayish-Blue: rgb(158, 175, 194);
--Light-Grayish-Blue: rgb(236, 242, 248);

}

/* main container */

.container{width: 90%;
border-radius: 0.8rem; overflow: hidden;
display: flex; 
flex-direction: column;
background-color: white;
position: relative;
max-width: 21rem;
}


/* hero image */

.image img{
height: 100%;
max-height: 22rem;
object-fit: fill;
 }



/* body */

.title{color: var(--dark-grayish-blue);
font-size: 1.2rem;
font-weight: 600;
padding-block: 2rem 1.5rem}

.par{font-size: 0.8rem;
color: var(--Desaturated-Dark-Blue);
margin-block-end: 1.5rem;
}

.text{width: 85%;
margin: 0 auto;}

.body{
margin: 0 auto;
}

/* footer */

footer{ 

width: 90%;
margin: 0 auto;

}

/* avatr */

.avatar{display: flex; flex-direction: row;
gap:1rem;
align-items: center;
min-height: 5rem;


}

.avatar img{width: 2.5rem;
border-radius: 2rem;}

.name{font-size: 0.8rem;
font-weight: 600;
}
.date{font-weight: 0.8rem;
color:var(--Grayish-Blue)}


/* share box */

.share{background-color: var(--dark-grayish-blue);
min-height: 5rem;
display: none;
}

.links{width: 85%;
display: flex;
gap: 1.7rem;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin: 0 auto;

}

.facebook, .twitter, .pintrest{width: 1.25rem;
height: 1rem;
cursor: pointer;}

.share-text{font-size: 0.8rem;
text-transform: uppercase;
letter-spacing: 0.3rem;
color: var(--Grayish-Blue);
}

.share-btn-1{ width:2.2rem; height:2.2rem;
  border-radius: 50%;
  background-color: var(--Light-Grayish-Blue);
    cursor: pointer;
  fill: #6E8098;
  position: absolute;
  left: 83%;
bottom: 3.5%;
 
}


/* media tablet */
@media (min-width: 48rem) {

  body{height: 100vh;}
  
  /* main container */

.container{flex-direction: row;
  max-width: 38rem;
  overflow: unset;
}

/* click active status to keep avatar displayed */
.container.active .avatar{
  display: flex;
}

/* hero image */
.image img{width: 115%;}

.image{border-top-left-radius: 0.8rem;
border-bottom-left-radius: 0.8rem;
overflow: hidden;
width: 14.3rem;
height: 21.6rem;}

/* body section */
.body{width: 19.5rem;
  
}

.par{margin-block-end: 0.8rem;}

/* share box */
.share-btn-1{
   left: 90%;
bottom: 12%;
}
.share{position: absolute;
top:55%;
right: -13%;
width:15.5rem;
min-height: 3.5rem;
border-radius: 0.6rem;
}


/* arrow for the share box */
.share::after {
  content: "";
  position: absolute;
  bottom: -9px; 
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--dark-grayish-blue); 
}

}

@media (min-width:75rem){
  .container{max-width: 45rem;
  height: 19rem;}

  .image{width: 17.8rem;
  height: 100%}

  .image img{height:100% ;}

  .body{width: 25rem;}
  .par{font-size: 1rem;}

  .share-btn-1{
    bottom:9%
  }

  .share{top:49%;
  right: -9.5%;
  }
  
}

